<a href="https://colab.research.google.com/github/aeshapatel123/Logic-Building-Task-1/blob/main/Task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem 1: Unique Words in a Sentence

In [4]:
print("Enter a sentence :")
sentence=input()          #taking sentence as input
words=sentence.split()    #Splitting the sentence into words
unique_words=set(words)   #Creating a set of unique words
print("Unique words count are: ",len(unique_words))  #printing the length of unique words
print("The unique words are: ",unique_words)

Enter a sentence :
python is easy and python is powerful
Unique words count are:  5
The unique words are:  {'is', 'and', 'easy', 'python', 'powerful'}

Problem 2: Highest Salary from Employee Data

In [12]:
employees_data={"Ravi":75000,"Anita":68000,"Kiran":72000,"Sahil":84000,"Aesha":69800}
for name,salary in employees_data.items():
    if salary==max(employees_data.values()):  #To calculate the maximum salary
        print("Highest Salary :",name,"-",salary )

Highest Salary : Sahil - 84000

Problem 3: Find Maximum and Minimum Values

In [13]:
nums=[45,79,100,-5,0,34,12,90]  #list of numbers
minimum_val=nums[0]
maximum_val=nums[0]
for n in nums:
  if n<minimum_val:             #checking for minimum number
    minimum_val=n
  if n>maximum_val:             #checking for maximum number
    maximum_val=n
print("List:",nums)
print("Maximum Value: ",maximum_val)
print("Minimum Value: ",minimum_val)

List: [45, 79, 100, -5, 0, 34, 12, 90]
Maximum Value:  100
Minimum Value:  -5

Problem 4: Count Products Above a Price Threshold

In [15]:
prices=[450,1200,899,1500,300,4999,1000]
count=0
for i in prices:
  if(i>1000):    #checking for product price above 1000
    count+=1
print("Products above price 1000 is :",count)

Products above price 1000 is : 3

Problem 5: Calculate Attendance Percentage

In [17]:
attendance=['P','P','A','P','P']
total_days=len(attendance)   #calculating number if days
total_present=0
for i in attendance:
  if i=='P':               #checking for present days
    total_present+=1
attendance_percentage=(total_present/total_days)*100  #calculating attendance percentage
print("Attendance Percentage: ",attendance_percentage)

Attendance Percentage:  80.0

Problem 6: Remove Duplicate Phone Numbers

In [18]:
phno=['9743202863','91234567890','9743202863','7026288064']
unique_phno=set(phno)  #removing duplicate phone numbers
print("Unique phone numbers are: ",unique_phno)

Unique phone numbers are:  {'9743202863', '7026288064', '91234567890'}

Problem 7: Count Character Frequency

In [19]:
print("Enter a word :")
word=input()      #entering a word
dict={}           #creating a empty dictionary
for i in word:    #for loop to loop through each character
  if i in dict:
    dict[i]+=1    #calculating the frequency of each character
  else:
    dict[i]=1
print(dict)      #printing the dictionary

Enter a word :
python
{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

Problem 8: Convert List to Tuple

In [33]:
num_list = [10, 20, 30]
my_tuple =tuple(num_list)
print("Tuple:", my_tuple)

Tuple: (10, 20, 30)

Problem 9: Check if a Key Exists in a Dictionary

In [35]:
employee = {"id": 101,"name": "Sahil","department": "IT","salary": 50000} #creating a dictionary
key = "name"
if key in employee:              #checking if the key exists
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

Problem 10: Calculate Average Marks

In [41]:
stud_marks=[56,79,80,76,89,59]      #list of student marks
sum_marks=sum(stud_marks)           #sum of marks
average_marks=sum_marks/len(stud_marks)  #calculating the average
round_val=round(average_marks,2)         #rounding of to two decimal
print("Average Marks: ",round_val)

Average Marks:  73.17